* {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    box-sizing:border-box
}
.container{
    width: 1150px;
    margin: 0 auto;
}
button{
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}
h3{
    margin-top: 24px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}
nav {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.promo {
    display: flex;
    height: 100vh;
    padding: 50px 0 187px 0;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../img/header/Rectangle\ 3.jpg) center center/cover no-repeat;
}
.promo__logo img {
    width: 172px;
}
.promo__menu{
    width: 445px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 20px
    ;
}
.promo__menu li {
    display: inline;
    cursor: pointer;
}
a{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: #FFFFFF;
}
.promo__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 140px;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.promo__descr{
    width: 540px;
    height: 124px;
    margin-top: 39px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.button_promo{
    width: 160px;
    height: 50px;
    margin-top: 39px;
    background: #FFFFFF;
    font-weight: 600;
    color: #ED4C5C;
}
.video{
    padding: 94px 0 95px 0;
    background: #FFFFFF;
}
.video__wrapper{
    display: flex;
    align-items: center;
}
.video__text{
    width: 445px;
}
.h2_left{
    color: #000000;
}

.video__link{
    color: #ED4C5C;
    text-decoration: none;
}
.picture{ 
    margin: 0 auto;
}
.img{
    width: 445px;
    height: 311px;
    border-radius: 15px;
}
.overview{
    padding: 63px 0 124px 0;
    background: #FAFAFA;
    text-align: center;
}
.overview__heading{
    text-align: center;
}
.overview__wrapper{
    margin-top: 63px;
    display: flex;
    justify-content: center;
}
.overview__card{
    margin: 0 15px;
}
.overview__img{
    position: relative;
    width: 350px;
    z-index: 1;
}
.overview__text{
    position: relative;
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: -93px auto 0 auto;
    padding: 33px 0 25px 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overview__header{
    width: 229px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}
.overview__subheader{
    width: 229px;
    height: 57px;;
    margin-top: 20px;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    padding: 0 5px;
}
.overview__link{
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;;
}
.technology{
    padding: 63px 0 104px 0;
    background: #FFFFFF;
    text-align: center;
}
.technology__icons{
    margin-top: 52px;
    display: flex;
    justify-content: center;
}
.technology__icon{
    margin: 0 15px;
    width: 255px;
    height: 226px;
    text-align: center;
}
.technology__number{
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
}
.technology__img{
    margin-top: -58px;
}
.technology__header{
    margin-top: 19px;
    font-weight: bold;
    font-size: 18px;
    color: #101010;
}
.technology__subheader{
    margin: 10px auto 0 auto;
    width: 191px;
    height: 51px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.app{
    padding: 94px 0 95px 0;
    background: #ED4C5C;
}
.app__wrapper{
    display: flex;
}
.app__text{
    width: 445px;
}
.app__text_heading{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}
.h2_white{
    color: #FFFFFF;
}
.h3_white{
    color: #FFFFFF;
}
.app__social{
    margin-top: 40px;
}
.img{
    border-radius: 15px;
}
.contact{
    padding: 117px 0 78px 0;
}
.contact__wrapper{
    display: flex;
    align-items: center;
}
.contact__text{
    width: 445px;
    height: 160px;
}
.h2_left{
    margin: 0;
}
.h3_contact{
    width: 434px;
}
.feed-form{
    width: 540px;
}
.feed-form input{
    margin-bottom: 24px;
    padding: 21px 0 20px 31px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);
}
.input__long{
    width: 100%;
}
.input__short{
    margin-right: 30px;
}
.input, .input__short{
    width: calc(100% / 2 - 17px);
}
.button_submit{
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    color: #FFFFFF;
}
footer{
    padding: 85px 0 186px 0;
    background: #FAFAFA;
}
.footer__wrapper{
    display: flex;
    justify-content: center;
}
.footer__heading{
    font-weight: bold;
    font-size: 18px;
    color: #101010;
}
.footer__subheader{
    width: 254px;
    margin-top: 33px;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.footer__copyrite{
    margin-top: 141px;
    font-size: 12px;
    color: #101010;
}
.footer__social{
    margin-top: 20px;
}
.modal{
    display: none;
}
.modal:target{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: block;
}
.modal__video{
    position: relative;
    top: 65%;
    left: 60%;
}
.modal__close::before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}
.login{
    display: none;
}
.login:target{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: block;
}
.login__picture{
    position: relative;
    top: 30%;
    left: 55%;
    border-radius: 15px;
}
.login__close::before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}
.signup{
    display: none;
}
.signup:target{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: block;
}
.signup__picture{
    position: relative;
    top: 30%;
    left: 55%;
    border-radius: 15px;
}
.signup__close::before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}
label{
    position: absolute;
    left: 90%;
    top: 55px;
    margin: 0 20px 0 0;
    font-size: 30px;
    line-height: 100px;
    color: #FFFFFF;
    display: none;
}
#toggle{
    display: none;
}

@media (max-width: 1175px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .promo{
        height: 100%;
    }
    .overview__img, .overview__text{
        object-fit: cover;
        width: 100%;
    }
    .footer__subheader{
        width: 200px;
    }
    .feed-form{
        width: 500px;
    }
} 
@media (max-width: 968px) {
    .video__wrapper{
        flex-direction: column;
    }
    .video__text{
        text-align: center;
    }
    .video__link{
        text-align: center;
        display: block;
    }
    .overview__wrapper {
        flex-direction: column;
        margin-top: 0;
    }
    .overview__card{
        margin-top: 20px;
    }
    .technology__icons{
        flex-direction: column;
        align-items: center;
    }
    .app__wrapper{
        flex-direction: column;
        align-items: center; 
    }
    h2{
        text-align: center;
    }
    .app__social {
        display: flex;
        margin: 25px auto;
    }
    .picture{
        margin: 0 auto;
    }
    .contact__wrapper{
        flex-direction: column;
    }
    .button_submit{
        display: flex;
        align-items: center;
        justify-content: center;
       margin: 0 auto;
    }
       .footer__wrapper{
        flex-wrap: wrap;
    }
    .footer_item{
        width: 50%;
        padding: 10px;
    }
    .footer__copyrite{
        margin-top: 15px;
    }
} 

@media (min-width: 768px) {
    .button_hidden{
        display: none;
    }
    .button_shown{
        display: block;
    }
}
@media (max-width: 767px) {
    label {
        display: block;
        cursor: pointer;
    }
    .promo__menu{
        text-align: center;
        flex-direction: column;
        margin: auto 0;
        display: none;
        position: relative;
        left: -7%;
    }
    .promo__menu li{
       display: block;
    }
    #toggle:checked ~ .promo__menu {
        display: block;
    }
    .button_hidden{
        display: initial;
    }
    .button_shown{
        display: none;
    }
    h1{
        font-size: 40px;
        margin-top: 150px;
    }
    .promo__descr{
        font-size: 16px;
        width: 70%;
    }
}
@media (max-width: 576px) {
    .promo, .video, .overview, .technology, .app, .contact, footer{
       padding: 50px 0 50px 0;  
    }
   .video__text, .app__text, .contact__text{
       width: 100%;
       padding: 0 20px;
   } 
   .picture{
    margin-top: 0
    }
    .img{
        width: 100%;
        object-fit: cover;
    }
    .overview__img, .overview__text{
        object-fit: cover;
        width: 100%;
    }
    .h3_contact {
        width: 100%;
        text-align: center;
    }
    .feed-form{
        width: 100%;
    }
    .app__social{
        text-align: center;
        display: block;
    }
}
@media (max-width: 468px){
    .footer_item{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .footer__subheader{
        width: 100%;
    }


}
@media (max-width: 375px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 26px;
        line-height: 30px;   
    }
    .feed-form input {
        padding: 21px 0 20px 21px;
    }
}
    


